<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">


  <variable name ="logFile" value="Logs/TheShopCore-${shortdate}" />

  <targets>
    <target xsi:type="File"
            name="errorLog"
            fileName="${logFile}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            keepFileOpen ="false"
            concurrentWrites ="true"/>

    <target xsi:type="File"
            name="infoLog"
            fileName="${logFile}.infolog"
            layout="${longdate} level=${uppercase:${level}} threadid=${threadid} message=${message}"
            keepFileOpen ="false"
            concurrentWrites ="true"/>
  </targets>

          
  <rules>
    <logger name="*" level="Debug,Warn,Info" writeTo="infoLog" />
    <logger name="*" level="Error" writeTo="errorLog" />
    <!--</logger>-->
  </rules>

</nlog>